services:     # 컨테이너 지정

  web:
    container_name: web
    image: "${DOCKER_USERNAME}/web:${VERSION}"
    build:
      context: .  # . 은 디폴트 -> 프로젝트 내의 "Dockerfile"이라는 이름을 알아서 찾아 빌드해줌
      dockerfile: Dockerfile.prod  # 배포용 Dockerfile 지정
    restart: always
    ports:
      - "8000:8000"
    env_file: #
      - .env
      # - ./golbang_firebase_sdk.json # Firebase Admin SDK 키 파일

  redis:
    container_name: redis
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=${MYSQL_DB_PASSWORD}
    command: redis-server --requirepass ${MYSQL_DB_PASSWORD}
    volumes:
      - redisdata:/data

  celery:   # celery 작업자
    container_name: celery
    image: "${DOCKER_USERNAME}/celery:${VERSION}"
    build: .
    command: celery -A golbang worker -l info
    env_file:
      - .env

  celery-beat:   # 주기적으로 업데이트
    container_name: celery-beat
    image: "${DOCKER_USERNAME}/celery-beat:${VERSION}"
    build: .
    command: celery -A golbang beat -l info
    env_file:
      - .env