# .github/workflows/bump-version.yml
# Github Action으로 Bump 자동화하기 위한 워크플로우
# 버전 관리를 처리하며, cz bump 명령어를 통해 버전을 증가시키고 태그를 추가한 후, 변경 사항을 원격 리포지토리에 푸시

name: Bump version

on:
  push:
    branches:
      - main

jobs:
  bump-version:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install commitizen

      - name: Create bump and changelog
        run: |
          cz bump --yes --changelog > body.md || echo "No previous tags found. Continuing..."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true  # 첫 번째 실행에서 오류를 무시하고 계속 진행

      - name: Push changes and tags
        run: |
          git push origin main --follow-tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ github.ref_name }}
          bodyFile: "body.md"
          skipIfReleaseExists: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

